# Ignore build directory
build/
after_buffered/
aes_cipher_top/
ariane/
pci_bridge32/
aes/
ac97_top/
des/
*.zip

# Large files to ignore
ariane/ariane.spef
ariane/INSTA_ariane_106k_cells_463k_pins/insta_inputs/cell_arcs.csv
